<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.coodroid.olympic"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="7" />

    <application android:name=".common.Global"
        android:icon="@drawable/ic_launcher" android:label="@string/app_name" 
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:launchMode="singleInstance"
            android:name=".view.WelcomeActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:launchMode="singleInstance" android:name=".view.OlympicClientActivity" />
        <activity android:name=".view.account.RegisterActivity"
			android:launchMode="singleInstance" android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".view.LotteryActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.account.LoginActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.account.AccountActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.account.PwdModifyActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.MedalActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.MatchActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.LiveActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.GuessActivity" android:launchMode="singleInstance">
            <intent-filter >
                <action android:name="com.coodroid.olympic.view.GuessActivity" />
            </intent-filter>
        </activity>
        <activity android:name=".view.MoreActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.TextLiveActivity" android:launchMode="singleInstance"/>
        <activity android:name=".view.UserAnswersActivity" android:launchMode="singleInstance"/>
    </application>
	<uses-permission android:name="android.permission.INTERNET" />    
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>